{% load static %}

<form action="" method="get"
      class="flex items-center flex-1 max-w-md bg-[var(--color-spotify-dark)] text-white rounded-full px-4 py-2 shadow-lg hover:bg-[var(--color-spotify-dark-light)] transition-colors">
  <svg class="w-8 h-8 text-white mr-3" fill="currentColor" viewBox="0 0 24 24">
    <path d="M21 21l-4.35-4.35m2.35-5.65a7 7 0 11-14 0 7 7 0 0114 0z"/>
  </svg>
  <input type="search" name="q" placeholder="Search"
         class="bg-transparent flex-grow placeholder-white focus:outline-none"/>
</form>
