/* Containers style for the home page*/

/* Header Style with the SpotyRate name and Spotify Logo */
.header {
    display: flex;
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Footer Style*/
.footer {
    display: flex;
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* Individual card */
.info-card {
    background-color: var(--black);
    color: var(--white);
    padding: 2%;
    border-radius: 4%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.info-card:hover {
    background-color: color-mix(in srgb, var(--black) 95%, var(--white) 5%);
    transform: scale(1.02);
    transition: background-color 0.2s, transform 0.2s ease-in-out;
}