/* buttons.css */

/* Link Styling */
a {
    padding: 1rem 2rem;
    background-color: var(--green);
    color: var(--black);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
}

/* Button Hover Effects */
a:hover {
    background-color: var(--black);
    color: var(--green);
}
