/* headers.css */

/* Custom Header Styling */
.home-header {
    position: fixed;
    top: 0;
    left: 0;
    color: var(--white);
    width: 100%;
    padding: 1rem 2rem;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.home-header h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-right: 1rem;
}
