/* fonts.css */

/* Paragraph Styling */
p {
    font-size: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
}

/* General Text Styling for body */
body {
    font-family: var(--font-primary);
    color: var(--white);
    text-align: center;
}
