{% load static %}

<div class="row">
    <div class="column">
        <!-- Header de la Playlist -->
        <div class="section" style="--size: 50; gap: 20px; justify-content: flex-start;  align-items: flex-end; padding-bottom: 20px; padding-left: 20px;">
            <img src="https://picsum.photos/230" alt="Card Image" class="playlist-cover" style="width:230px; height:230px; border-radius: 5px;">
            <div>
                <p class="playlist-type" style="font-size: 13px; text-align: left;">Llista </p>
                <h1 class="playlist-title" style="font-size: 70px; text-align: left;">La millor cançó</h1>
                <h6 class="playlist-details" style="font-size: 13px; text-align: left;">Creat per Abril Rosell · 20 cançons</h6>
            </div>
        </div>

        <!-- Llista de Cançons -->
        <div class="section" style="--size: 70; background-color: #181818; display: flex; align-items: flex-start; padding-top: 100px">
            <table class="song-list" style="width:100%; ">
               <thead>
               <tr>
                   <th style="width: 5%; text-align: center;"># </th>
                   <th style="width: 35%; text-align: left;">Títol </th>
                   <th style="width: 25%; text-align: left;">Àlbum</th>
                   <th style="width: 25%; text-align: left;">Data d'addició</th>
                   <th style="width: 10%; text-align: center;">⏱️</th>
               </tr>
               <tr style="border: 2px solid white; width: 100%;"></tr>
               </thead>
           </table>
        </div>
    </div>
</div>