<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotyRate | Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="column">
        <!-- Header Section -->
        <div class="section" style="--size: 10; background-color: var(--black)">
            <h1>SpotyRate</h1>
            <img class="spotify-logo" src="{% static 'svg/Primary_Logo_White_CMYK.svg' %}" alt="SpotyRate Logo">
        </div>
        <div class="section" style="--size: 90; justify-content: left; text-align: left; flex-direction: column">
            <p>User data:</p>
            <pre id="user-data"></pre>
            <button onclick="logout()">Logout</button>
        </div>
    </div>
    <script>
        // User Data
        fetch("/user/")
            .then(response => response.json())
            .then(data => document.getElementById("user-data").innerText = JSON.stringify(data, null, 2))
            .catch(error => console.error("Error fetching user data:", error));

        // Log out function
        function logout() {
            window.location.href = '/logout/';  // Redirect to log out
        }
    </script>
</body>
</html>