{% extends "base.html" %}
{% load static %}

{% block title %}SpotyRate{% endblock %}

{% block header %}
    <div class="section" style="--size: 15">
        {% include "elements/logo.html" %}
    </div>
    <div class="section" style="--size: 85"></div>
{% endblock %}

{% block content %}
    <!-- Slogan container -->
    <div class="section" style="--size: 10;">
        <h2>Rate, Share, Discover: See What Your Friends Love on Spotify</h2>
    </div>
    <!-- Content container -->
    <div class="section" style="--size: 70;">
        <div class="row">
            <!-- First Info Card -->
            <div class="section" style="--size: 40">
                <div class="section" style="--size: 50">
                    <div class="info-card">
                        <img src="https://picsum.photos/400" alt="Card Image">
                        <h3>Rate a Song</h3>
                        <p>Share your thoughts and give ratings to your favorite songs and playlists. Let your friends know what you love or what you think could be better!</p>
                    </div>
                </div>
                <div class="section" style="--size: 50">
                    <div class="info-card">
                        <img src="https://picsum.photos/220" alt="Card Image">
                        <h3>Share with Friends</h3>
                        <p>Discover what your friends are listening to and easily share your favorite tracks or playlists with them. Spread the music you love!</p>
                    </div>
                </div>
            </div>
            <div class="section" style="--size: 60">
                <!-- Third Info Card -->
                <div class="section" style="--size: 33">
                    <div class="info-card">
                        <img src="https://picsum.photos/230" alt="Card Image">
                        <h3>Discover New Music</h3>
                        <p>Explore new playlists, albums, and songs based on ratings and comments from your friends. Find hidden gems that you might not have come across on your own!</p>
                    </div>
                </div>
                <!-- Forth Info Card (Login) -->
                <div class="section" style="--size: 66">
                    <div class="info-card">
                        <div class="section">
                            <a href="{% url 'spotify_login' %}">Login with Spotify</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="section" style="--size: 10; background-color: var(--black)">
        <h3>Discover New Music</h3>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}