{% extends "base.html" %}

{% block title %}SpotyRate | Logging out...{% endblock %}


{% block header %}
    <div class="section" style="--size: 15">
        {% include "elements/logo.html" %}
    </div>
    <div class="section" style="--size: 85"></div>
{% endblock %}

{% block content %}
    <div class="section" style="--size: 90; justify-content: left; text-align: left; flex-direction: column">
        <h1>Logging you out...</h1>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    <script>
        // Create an invisible iframe to execute the logout
        const iframe = document.createElement('iframe');

        // Set the iframe source to the external logout URL
        iframe.src = 'https://accounts.spotify.com/en/logout';
        iframe.style.width = '0';
        iframe.style.height = '0';
        iframe.style.border = 'none';
        iframe.style.position = 'absolute';
        iframe.style.top = '0';
        iframe.style.left = '0';

        // Append the iframe to the body (it will be invisible)
        document.body.appendChild(iframe);

        // After 2 seconds, remove the iframe and redirect the user
        setTimeout(function() {
            iframe.remove();  // Remove the iframe from the DOM
            window.location.href = '/';  // Redirect to the homepage
        }, 2000);
    </script>
{% endblock %}
