<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SpotyRate{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'out/styles.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/svg/Primary_Logo_White_CMYK.svg' %}">
</head>

<body class="flex flex-col min-h-screen bg-gray-400 ">
    <header class="bg-[var(--color-spotify-black)] text-white py-4 shadow-md fixed top-0 left-0 right-0 z-50 header-transition">
        <div class="max-w-7xl mx-auto flex items-center space-x-4">
            {% include 'header/logo.html' %}
            <div class="flex-1"></div>
            {% block header_extra %}{% endblock %}
        </div>
    </header>

    <main class="flex-1 min-h-0 flex flex-col">
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
    {% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>