{% extends "base.html" %}
{% load static %}

{% block title %}SpotyRate | Dashboard{% endblock %}

{% block header_extra %}
    {%include 'header/search_bar.html' %}
    <div class="flex-1"></div>
    {% include 'header/user_pfp.html' %}
{% endblock %}


{% block content %}
<div class="flex-1 flex p-4 bg-[var(--color-spotify-black)] h-full">
    <div class="gap-4 flex-1 h-full">
        <div class="grid grid-cols-15 gap-4 h-full">
            <!-- Left Sidebar -->
            <div class="col-span-3 bg-[var(--color-spotify-dark)] rounded-lg p-4 h-full overflow-y-auto">
                Left
            </div>

            <!-- Main Content -->
            <div id="main-content" class="col-span-12 bg-[var(--color-spotify-dark)] rounded-lg h-full overflow-y-auto">
                <div class="text-white">
                    <h2 class="text-2xl font-bold mb-4">Your Dashboard</h2>
                    <p>Default content goes here...</p>
                </div>
            </div>

            <!-- Right Sidebar (Dynamically present depending on AJAX requests) -->
            <div id="right-sidebar" class="col-span-4 bg-[var(--color-spotify-dark)] rounded-lg h-full overflow-hidden hidden">
                {% include 'sections/comments.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{% static 'js/main.js' %}"></script>
{% endblock %}
