/* style.css */

/* ----------------------------- */
/* General Reset and Base Styles */
/* ----------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-primary);
    background: linear-gradient(rgb(60, 60, 60) 0%, rgb(0, 0, 0) 100%);
    overflow: auto;  /* Enable scroll if content overflows */
}