{% load static %}
{% load duration_filters %}

<div id="search-results" class="bg-[var(--color-spotify-dark)] p-6 rounded-lg overflow-y-auto">
    {% if query %}
    <h2 class="text-2xl font-bold text-white mb-6">
        Search Results for “{{ query }}”
    </h2>

    {% if results.tracks or results.albums or results.artists or results.playlists %}

        {% include "sections/search/_tracks_section.html" with track_results=results.tracks %}
        {% include "sections/search/_albums_section.html" with album_results=results.albums %}
        {% include "sections/search/_artists_section.html" with artist_results=results.artists %}
        {% include "sections/search/_playlists_section.html" with playlist_results=results.playlists %}

    {% else %}
        <div class="p-4 text-center text-white/70">
            No results found for “{{ query }}”.
        </div>
    {% endif %}

    {% else %}
    <div class="p-4 text-center text-white/70">
        Enter a search query to see results.
    </div>
    {% endif %}
</div>