{% load static %}

<div class="bg-[var(--color-spotify-dark)] p-6 rounded-lg space-y-6">
    <!-- Song Header -->
    <div class="flex items-end space-x-6 p-4 bg-gradient-to-b from-[#333] to-[var(--color-spotify-dark)] rounded-lg">
        <img src="{{ song.album.images.0.url }}" alt="Song Cover" class="w-52 h-52 rounded-lg shadow-lg">
        <div class="space-y-2">
            <p class="text-sm uppercase text-white/70">Cançó</p>
            <h1 class="text-4xl font-bold text-white">{{ song.name }}</h1>
            <p class="text-sm text-white/60">
                De {{ song.artists.0.name }} • De l'àlbum {{ song.album.name }}
            </p>
        </div>
    </div>

    <!-- Song Details -->
    <div class="bg-[var(--color-spotify-dark-light)] p-4 rounded-lg space-y-4">
        <div class="flex justify-between items-center">
            <p class="text-lg font-medium text-white">Data d'addició:</p>
            <p class="text-lg text-white/70">{{ song.added_at|date:"Y-m-d" }}</p>
        </div>
        <div class="flex justify-between items-center">
            <p class="text-lg font-medium text-white">Duració:</p>
            <p class="text-lg text-white/70">
                {% if song.duration_ms %}
                    {{ song.duration_ms|time:"i:s" }}
                {% else %}
                    --
                {% endif %}
            </p>
        </div>
        <div class="flex justify-between items-center">
            <p class="text-lg font-medium text-white">Popularitat:</p>
            <p class="text-lg text-white/70">{{ song.popularity }} / 100</p>
        </div>
    </div>
</div>
